<%= render partial: 'shared/navbar' %>

<div class="container">
  <% if @artist %>
  <div class="center">
    <h5>Search Results from Artsy</h5>
    <hr>
    <h6><%= @artist.name %></h6>
    <%= image_tag @artist.thumbnail %>
    <p>Born: <%= @artist.birthday %></p>
    <p>Hometown: <%= @artist.hometown %></p>
  </div>
  <% end %>

  <% if @media %>
    <div class="center">
      <h5>Search Results from Instagram</h5>
      <hr>
      <% @media.each do |media| %>
      <%= link_to image_tag(media.images[:low_resolution][:url]), photo_path(media.id), id: "media-#{media.id}" %>
      <% end %>
    </div>
  <% end %>
</div>
